@import "config/_variables";
@import "mixin/_mixin";
@import "mixin/_btnhack";
@import "mixin/_scrollbar";
@import "extend/_clearfix";
@import "extend/_positionCenter";

@import "config/_reset";
@import "config/_reboot";
@import "config/_typography";
@import "config/_breakpoint";

@import 'utilities/_utilities';
@import 'utilities/_hidetext';
@import 'utilities/_clearfix';

@import "components/_button";
@import "components/_form";
@import "components/_tables";

header {
  width: 100%;
  height: 50px;
  @include flex(flex-end, center);
  padding: 0 20px;
  background-color: $primary-color;
}

#zoneSelector {
  width: 150px;
  height: 30px;
}

.userSelectZone {
  width: 100%;
  height: 50px;
  @include flex(center, center);
  margin: 25px 0;
}

#timeZone {
  // @extend %positonCenter;
  margin: 0 auto; 
  width: 540px;
  min-height: 700px;
}

.title {
  font-size: 72px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 25px;
  border-top: 10px solid $primary-color;
  border-bottom: 10px solid $primary-color;
}

.content {
  border: 2px solid $primary-color;
  &__item {
    position: relative;
    background-color: $second-color;
    color: $primary-color;
    border-bottom: 2px solid $primary-color;
    padding: 0 20px;
    @include flex(center, center);
    
    .information {
      width: 50%;

      &__title {
        font-size: 36px;
        font-weight: bold;
      }
      &__date {
        font-size: 16px;
        font-weight: bold;
        font-style: italic;
      }
    }
    .time {
      width: 50%;
      font-size: 72px;
      font-weight: bold;
      text-align: right;
    }
    .delete {
      transition: all .5s ease;
      width: 25px;
      height: 25px;
      background-color: rgb(255, 163, 163);
      position: absolute;
      right: -27px;
      top: -2px;
      cursor: pointer;
      @include flex(center, center);
      &:hover {
        background-color: rgb(252, 86, 86);
      }
      &::before, &::after {
        content: '';
        display: block;
        width: 4px;
        height: 15px;
        background-color: $second-color;
        position: absolute;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);

      }
    }
    &:nth-child(3n+1) {
      background-color: $primary-color;
      color: $second-color;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}